# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target

#manifest files
resources/manifest
/src/main/java/META-INF/

#built jars
classes/artifacts

#bootstrap
site/css
site/img
site/js

#reveal.js
site/slides/css
site/slides/js
site/slides/lib
site/slides/plugin
