# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target
dependency-reduced-pom.xml

#manifest files
resources/manifest
/src/main/java/META-INF/

#built jars
classes/artifacts

#reveal.js for presentation and bootstrap
site/*

#various files
backupOfMatches.json
logfile.log.lck
logfile.log
